::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #FFF;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #BBB;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }